* {
  color: #333333;
}

h1 { font-size: 64pt }
h2 { font-size: 40pt }

h1, h2, h3, h4, h5, h6 {
  font-family: "Markazi Text", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Karla", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16pt;
  line-height: 1.5;
}

body, ul > li, footer > section > h3 {
  margin: auto;
}

ul > li { font-size: 16pt; font-weight: 900; }

button {
  background-color: #f4ce14;
  border-radius: 16px;
  border: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18pt;
}

/* HEADER */

.mobile {
  cursor: pointer;
  display: none;
  margin-top: 8.98px;
}

header {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  align-items: center;
  padding: 20px 30px;
  margin: auto;
  flex-wrap: wrap;
}

header > nav > ul {
  display: flex;
  gap: 47px;
  list-style: none;
}

header a {
  text-decoration: none;
  color: #495e57;
  transition: 0.3s;
}

header a:hover {
  color: #2c3834;
}

/* HERO */

.hero {
  background-color: #495e57;
  display: flex;
  margin-bottom: 55px;
}

.hero > div {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  gap: 90px;
  margin: auto;
}

.hero h1 {
  margin: 0;
  color: #f4ce14;
  line-height: 0.75;
}

.hero h2 {
  color: white;
  margin: 0;
}

.hero > div > div {
  max-width: 1024px;
  margin: auto;
  color: white;
  padding: 45px 0 45px 0;
}

.hero > div > div > p {
  max-width: 290px;
  color: white;
}

.hero img {
  border-radius: 16px;
  object-fit: contain;
  width: 560px;
  top: 55px;
  position: relative;
}

/* WEEKS SPECIALS */

.weeks-specials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: auto;
  padding: 40px 30px;
}

.weeks-specials h2 {
  margin: 0;
  font-size: 40pt;
}

/* CARDS */

.cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: auto auto 60px auto;
  flex-wrap: wrap;
  padding: 0 30px 0 30px;
  gap: 30px;
}

.cards > div {
  flex-basis: 250px;
}

.cards h3 {
  margin: 0;
}

.cards div {
  display: flex;
  flex-direction: column;
  background-color: #edefee;
  align-self: normal;
  border-radius: 16px;
  gap: 25px;
}

.cards > div > img {
  height: 199px;
  object-fit: cover;
  width: 300px;
  border-radius: 16px 16px 0 0;
}

.cards .heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  font-size: 18pt;
  font-weight: bold;
}

.cards .price {
  color: #ee9972;
  font-size: 16pt;
}

.cards p {
  padding: 0 30px 0 30px;
  margin: 0;
}

.cards button {
  display: flex;
  align-items: center;
  padding: 0;
  background-color: transparent;
  gap: 10px;
  padding: 0 30px 30px 30px;
  font-size: 16pt;
  margin-top: auto;
}

/* FOOTER */

footer {
  background-color: #495e57;
  color: white;
}

footer > div {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: auto;
  padding: 40px 30px 24px 30px;
  flex-wrap: wrap;
  gap: 40px;
}

footer a, footer h3 {
  font-size: 16pt;
  font-weight: normal;
  color: white;
  margin-top: 0;
}

footer a {
  color: white;
  text-decoration: none;
}

footer nav > ul, footer ul {
  list-style: none;
  padding-left: 0;
}

footer img {
  width: 107px;
  height: 100%;
  margin-top: 10px;
}

/* TESTIMONIALS */

.testimonials-container {
  background-color: #fbdabb;
  padding: 40px 0 60px 0;
}

.testimonials-container > h2 {
  text-align: center;
  margin-top: 0;
}

.testimonials {
  display: flex;
  justify-content: center;
  margin: auto 40px;
  max-width: 1024px;
  gap: 40px;
  flex-wrap: wrap;
  justify-self: center;
}

.testimonials h3 {
  margin: 0;
  line-height: 1;
}

.testimonials > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  background-color: white;
  padding: 20px 30px;
  border-radius: 16px;
  max-width: 166px;
}

.person {
  display: flex;
  align-items: center;
  gap: 20px;
}

.person span {
  font-weight: 900;
}

.person img {
  border-radius: 16px;
}

.rating {
  max-width: 70px;
  display: flex;
  justify-content: center;
  padding: 5px 0;
}

.testimonial {
  margin-top: 20px;
}

/* ABOUT */

.about {
  display: flex;
  max-width: 1024px;
  margin: auto;
  padding: 60px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about h2 {
  margin: 0;
  line-height: 1;
}

.about h3 {
  margin-top: 0;
}

.about > .text {
  max-width: 50%;
  align-content: center;
}

.about > .images {
  width: 423px;
  height: 450px;
  position: relative;
}

.about > .images > img {
  position: absolute;
  height: 300px;
  border-radius: 16px;
}

.about .one {
  bottom: 0;
}

.about .two {
  left: 160px;
  bottom: 150px;
}

@media (max-width: 1080px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    position: relative;
  }

  .submenu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: absolute;
    list-style: none;
    top: 61px;
    right: -30px;
    background-color: #ee9972;
    padding: 50px;
    z-index: 999;
    border-radius: 0 0 0 16px;
    border-left: 5px solid #edefee;
    border-bottom: 5px solid #edefee;
  }

  .submenu a {
    color: #333333;
    font-size: 16pt;
    font-weight: 900;
  }

  .submenu a:hover {
    color: #333333;
  }

  .hero img {
    max-width: -webkit-fill-available;
    width: 100%;
    margin: 0 40px;
  }

  .hero > div {
    flex-direction: column;
    gap: 0;
  }

  .hero > div > div {
    padding: 25px 0 0 0;
    margin: 0 40px;
  }

  .hero > div > div > p {
    max-width: 100%;
  }

  .cards {
    justify-content: center;
  }

  .about {
    justify-content: center;
  }

  .about > .text {
      max-width: 100%;
      margin-bottom: 40px;
  }
}

@media (max-width: 590px) {
  .about > .images {
    width: 257px;
    height: 300px;
  }
  
  .about > .images > img {
    height: 190px;
  }
  
  .about .two {
    left: 80px;
    bottom: 110px;
  }

  .testimonials > div {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .about > .images {
    width: 224px;
    height: 275px;
  }
  
  .about > .images > img {
    height: 164px;
  }
  
  .about .two {
    left: 80px;
    bottom: 110px;
  }
}